@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';




  .loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }



.lottie {
  width: 500px;
  height: 500px;

  @include mobile {
    width: 300px;
    height: 300px;
  }
}