@import 'variables';

@mixin container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $container-color;
  border-radius: .5rem;

  @media screen and (max-width: 768px) {
    width: 95%;
    padding-inline: 20px;
    padding-block: 25px;
  }
}

@mixin title {
  font-family: "Proxima Nova Bold", sans-serif;
  color: $text-color;
  font-size: 3rem;

  @media screen and (max-width: 768px) {
    font-size: 2.5rem;
  }
}

@mixin semi-heading {
  font-size: 1.7rem;
  font-family: "Proxima Nova Bold", sans-serif;
  color: $text-color;
  margin-bottom: 1rem;
}

@mixin button {
  border-radius: 3rem;
  background-color: $accent-color-1;
  color: $text-color-light;
  padding-block: .8rem;
  padding-inline: 1.2rem;
  transition: all, 0.3s;
  &:hover, &:active {
    scale: 1.02;
    background-color: $accent-color-3
  }
}

@mixin select-button {
  border-radius: .7rem;
  font-size: $fz-normal;
  background-color: $bg-color;
  padding-block: .7rem;
  padding-inline: 1.5rem;
  transition: all, 0.3s;
  &:hover, &:active {
    scale: 1.08;
    background-color: $accent-light;
  }
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content
  }
}

@mixin tablet {
  @media screen and (max-width: 1150px) {
    @content
  }
}

@mixin hover {
  transition: all, 0.3s;
  &:hover {
    scale: 1.08;
  }
}

@mixin transparent-btn {
  color: $text-color-light;
  padding-block: .3rem;
  padding-inline: .7rem;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid $text-color-light;
  cursor: pointer;
  transition: all, .3s;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style {

  color: #fff;
  border: none;
  padding: $button-padding;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: $font-size-base;
  transition: background-color 0.3s;


}