$bg-color: #d8f3dc;
$container-color: #f4fff4;
$text-color: #1a231e;
$text-color-secondary: #aab0ab;
$text-color-light: #f3faf3;
$accent-color-1: #52b788;
$accent-color-2: #74c69d;
$accent-color-3: #40916c;
$accent-dark: #1b4332;
$accent-light: #95d5b2;