$bg-color: #d8f3dc;
$container-color: #f4fff4;
$text-color: #21332d;
$text-color-secondary: #aab0ab;
$text-color-light: #f3faf3;
$accent-color-1: #52b788;
$accent-color-2: #74c69d;
$accent-color-3: #40916c;
$accent-dark: #1b4332;
$accent-light: #95d5b2;
$bg-light-color: #effaef;
$color-white: #fff;
$input-border-color: #ccc;

$fz-normal: 1.2rem;
$border-radius: 8px;
$spacing-unit: 16px;
$font-size-base: 16px;
$button-padding: 10px 20px;
