@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.filter-menu {
  @include container;
  position: relative;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 0;
  }

  &__btn--selected {
    transition: all 0s;
    color: $text-color-light;
  }

  &__list {
    display: flex;
    gap: 1.5rem;
    max-width: 100%;

    @include tablet {
      overflow-x: scroll;
    }

    @include mobile {
      overflow-x: scroll;
      gap: .6rem
    }
  }

  &__item {
    white-space: nowrap;
    font-size: $fz-normal;
    padding-block: .8rem;
    padding-inline: 1.2rem;
    cursor: pointer;
    transition: all, 0s;


    &--selected {
      @include button;
      transition: all, 0s;
      background-color: $accent-color-1;
      color: $text-color-light;

      &:active, &:hover {
        background-color: $accent-color-1;
      }
    }
  }
}


.sorting-button {
  font-size: $fz-normal;

  &__sort-type {
    cursor: pointer;
    font-family: "Proxima Nova Bold", sans-serif;
    color: $accent-color-3;
    text-decoration: underline;
  }

  &::after {
    display: none;
    @include mobile {
      display: block;
    }
    bottom: 80%;
    right: 5%;
    position: absolute;
    content: '→';
    font-size: 30px;
    padding: 10px;
    color: $accent-color-1;
    animation-name: scroll;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}