@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.header {
  @include container;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;

  @include tablet {
    position: static;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
      gap: 1rem;
      justify-content: space-between;
    }

    @include mobile {
      gap: 1rem;
    }
  }
  
  &__mobile-menu {
    display: none;
    @include tablet {
      display: block;
    }
  }

  &__mobile-burger {
    display: none;

    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 100;
      width: 40px;
      height: 40px;
      color: $text-color
    }
  }

  &__arrow {

    &:nth-child(1) {
      margin-bottom: 10px;

    }

    transition: all .8s ease-in-out;
    width: 30px;
    height: 3px;
    background-color: $text-color;

    &--rotate-right {
      transform: translateY(5px) rotate(45deg);
    }

    &--rotate-left {
      transform: translateY(-8px) rotate(-45deg);
    }

  }
    &__logo {
    &-img {
      max-width: 6rem;
      max-height: 6rem;

      @include mobile {
        max-width: 4.5rem;
        max-height: 4.5rem;
      }

    }
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    gap: .2rem;

    @include mobile {
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    @include title;
    @include tablet {
      padding-right: .6rem;
    }
    @include mobile {
      font-size: 2.8rem;
      padding-right: .5rem;
    }
  }

  &__buttons {
    display: flex;
    gap: 1rem;

    @include tablet {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }

  &__login-text {
    font-size: $fz-normal;
  }

  &__login-button {
    @include button;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cart-button {
    @include button;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cart-text {
    font-size: $fz-normal;
  }


  &__search-input {
    padding-block: .8rem;
    padding-inline: 1.2rem;
    border-radius: 3rem;
    border: 2px solid $text-color-secondary;
    width: 100%;
    max-width: 500px;

&:active, &:focus {
  border: 2px solid $text-color-secondary;
}

    @include mobile {
      max-width: max-content;
    }
  }

  &__search-input {
    display: block;
    position: relative;
    font-size: $fz-normal;

    @include tablet {
      width: 80%;
      max-width: 300px;
    }

    @include mobile {
      margin-bottom: .5rem;
      width: 90%;
    }
  }
}
