@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.header {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;

  @include mobile {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      gap: 1rem;
    }
  }

  &__logo {
    &-img {
      max-width: 6rem;
      max-height: 6rem;

      @include mobile {
        max-width: 4.5rem;
        max-height: 4.5rem;
      }

    }
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    gap: .2rem;

    @include mobile {
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    @include title;
    @include mobile {
      font-size: 3rem;
    }
  }

  &__buttons {
    display: flex;
    gap: 1rem;

    @include mobile {
      gap: .5rem;
    }
  }

  &__login-text {
    font-size: 1rem;
  }

  &__login-button {
    @include button;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cart-button {
    @include button;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cart-text {
    font-size: 1rem;
  }



  &__subtitle {
    color: $text-color-secondary;
    font-family: "Proxima Nova Light", sans-serif;
    font-size: 1.2rem;
    @include mobile {
      font-size: 1rem;
      display: none;
    }
  }

  &__subtitle-hidden {
    display: none;

    @include mobile {
      color: $text-color-secondary;
      font-family: "Proxima Nova Light", sans-serif;
      display: block;
      text-align: center;
    }
  }

  &__search-input, &__search-input:focus {
    padding-block: .8rem;
    padding-inline: 1.2rem;
    border-radius: 3rem;
    border: 2px solid $text-color-secondary;
    width: 100%;
    max-width: 450px;
  }

  &__search-input {
    display: block;
    position: relative;

    @include mobile {
      margin-bottom: .5rem;
    }
  }
}