@import '../../styles/utils/_variables.scss';
@import '../../styles/utils/_mixins.scss';

.cart-item {
  color: $text-color-light;
  background-color: $accent-light;
  //display: flex;
  padding-block: 1rem;
  display: grid;
  grid-template-columns: 0.7fr 2fr 0.5fr;
  //align-items: center;
  //justify-items: center;
  gap: 0.5rem;
  border-radius: 2rem;

  @include mobile {

    grid-template: 1fr 1fr / 1fr;
    place-items: center;
    gap: 1rem;

    align-items: center;

  }
  
  &__image {
    width: 8rem;
    aspect-ratio: 1;

    @include mobile {
      width: 50%;
      //height: 9rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    padding-right: 1rem;

    @include  mobile {
      align-items: center;

    }


    &__heading {
      @include semi-heading;
      color: $text-color-light;
      margin-bottom: 0;

      @include mobile {
        font-size: 1.4rem;
        white-space: nowrap;
      }


    }

    &__size {
      font-size: $fz-normal;
        @include mobile {
          display: none;
        }
    }

    &__pricing {
      display: none;
      font-family: "Proxima Nova Bold", sans-serif;
      font-size: 2rem;
      @include mobile {
        display: block;
        text-align: center;
        margin-block: .5rem;
      }
    }

    &__controls {

      color: $text-color-light;
      display: flex;
      align-items: center;
      gap: .5rem;
      font-size: $fz-normal;

      @include mobile {
        gap: .6rem;
        font-size: 1.5rem;
      }

      &__button{
       @include transparent-btn;

      @include mobile {
        padding-block: .4rem;
        padding-inline: .95rem;
      }

        &:hover {
          background-color: $accent-color-1;
          color: $text-color-light
        }
      }

      &__button--minus {
        padding-inline: .8rem;

        @include mobile {
          padding-inline: 1.05rem;
        }
      }
    }
  }

  &__prices {

    @include mobile {
      display: none;
    }

    &__price {
      font-size: $fz-normal;
      font-family: "Proxima Nova Bold", sans-serif;
      &__span {
        color: $accent-color-3;
      }
    }
  }

  &__close-btn {
    @include transparent-btn;
    justify-self: center;
    align-self: center;
    padding: 1rem;

    &:hover {
      background-color: $accent-color-1;
      color: $text-color-light
    }

    @include mobile {
      display: none;
    }
  }
}