  @import '../../styles/utils/variables';
  @import '../../styles/utils/mixins';

.error-page {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;

  &__title {
    @include title;
    font-size: 8rem;
  }


  &__desc{
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__error-text {
    font-size: 2rem;
  }
}