@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.signin {
  font-family: "Proxima Nova", sans-serif;
  background-color: $bg-color;
  @include container;
  border-radius: 0;
  display: flex;

  @include mobile {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  &__left-panel {
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    flex: 1;
    background-color: $accent-color-1;
    color: $text-color;
    padding: $spacing-unit * 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 2rem;

    @include mobile {
      display: none;
    }

    &__title {
      font-size: 2rem;
      margin-bottom: $spacing-unit;
    }

  }

  &__logo {
    width: 25rem;

  }

  &__text {
    margin-bottom: $spacing-unit * 2;
  }

  &__link {
    @include button;
    background-color: $accent-dark;
    padding-block: 1.5rem;
    width: 80%;
    color: $text-color-light;

  }

  &__right-panel {
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    flex: 1;
    background-color: #fff;
    padding: $spacing-unit * 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile {
      border-radius: 3rem;
    }

    @include mobile {
      flex: 0
    }

  }

  &__left-panel, &__right-panel {
    @include mobile {
      flex: 100%;
    }

  }

  &__form {

    display: flex;
    flex-direction: column;

    &-title {
      @include title;
      text-align: center;
      margin-bottom: $spacing-unit * 2;
    }

    .signin__input {
      width: 100%;
      padding: $spacing-unit;
      margin-bottom: $spacing-unit;
      border: 1px solid #ccc;
      border-radius: $border-radius;
      font-size: $font-size-base;
    }

    .signin__button {
      @include button;
      width: 100%;
      font-size: $fz-normal;
      padding-block: 1.3rem;
      margin-block: $spacing-unit * 2;


    }
  }

  &__socials {
    text-align: center;

    &-text {
      margin-bottom: $spacing-unit;
    }

    &-icons {
      @include flex-center;
      gap: 1rem;

      .signin__socials-icon {
        padding: $button-padding;
        border-radius: 50%;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        display: inline-block;
        color: $accent-color-1;
      }
    }
  }

  &__sign-up {
    text-align: center;
    color: $text-color;
    margin-bottom: 1rem;
  }

  &__span {
    text-decoration: underline;
  }

}




